@charset  "UTF-8";

/* Apple */
body,input,textarea,button,legend {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	color: #333;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 10px;
	line-height: 1.7em;
}

img,abbr,fieldset {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 1em;
}

ul,ol {
	list-style: none;
}

hr {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.r-align {
	text-align: right;
}

.c-align {
	text-align: center;
}

.strong {
	font-weight: bold;
}

.em {
	font-style: italic;
}

.text-alt {
	color: #666;
}

.text-alert {
	color: #f30;
}

.text-special {
	color: #0085cf;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.xs,.replaced,.a11y {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

body {
	position: relative;
}
textarea {
	background: #fff url(web/base/forms/res/field.png) repeat-x 0 0;
	background-size: 1px 1px;
	border: 1px solid #ccc;
}

textarea {
	font-size: 11px;
	overflow: auto;
	resize: vertical;
}

.h1 {
	font-size: 18px;
	margin-bottom: 5px;
}

.h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

.h3 {
	font-size: 14px;
	margin-bottom: 5px;
}

.h4 {
	font-size: 13px;
	margin-bottom: 5px;
}

.h5 {
	font-size: 12px;
	margin-bottom: 5px;
}

.h6 {
	font-size: 10px;
	margin-bottom: 5px;
}

.ns .box {
	-webkit-box-shadow: -1px 0 0 0 #d2d2d2, -1px 0 0 0 #e6e6e6, 1px 0 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, 0 -1px 0 0 #e8e8e8, 0 2px 0 0 rgba(241,241,241,0.3), 0 1px 0 0 #b1b1b1;
	-moz-box-shadow: -1px 0 0 0 #d2d2d2, -1px 0 0 0 #e6e6e6, 1px 0 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, 0 -1px 0 0 #e8e8e8, 0 2px 0 0 rgba(241,241,241,0.3), 0 1px 0 0 #b1b1b1;
	box-shadow: -1px 0 0 0 #d2d2d2, -1px 0 0 0 #e6e6e6, 1px 0 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, 0 -1px 0 0 #e8e8e8, 0 2px 0 0 rgba(241,241,241,0.3), 0 1px 0 0 #b1b1b1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	background: #fff;
	border: 1px solid #d2d2d29;
	margin-bottom: 10px;
}

.ns #page>.box {
	margin: 0 1px 10px;
}

.box>.box-content {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
	box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.ns .box>.box-content {
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.slate .box>.box-content {
	background: #fff;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
	box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.box>.title-bar+.box-content,.box>.box-heading+.box-content {
	border-top: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

.ns .box>.title-bar+.box-content {
	background: #fff;
	background: -webkit-linear-gradient(right,#fff,rgba(250,250,250,0) 20px), -webkit-linear-gradient(left,#fff,rgba(250,250,250,0) 20px), -webkit-linear-gradient(top,#f7f7f7,#fff 10px);
	background: -moz-linear-gradient(right,#fff,rgba(250,250,250,0) 20px), -moz-linear-gradient(left,#fff,rgba(250,250,250,0) 20px), -moz-linear-gradient(top,#f7f7f7,#fff 10px);
	background: -ms-linear-gradient(right,#fff,rgba(250,250,250,0) 20px), -ms-linear-gradient(left,#fff,rgba(250,250,250,0) 20px), -ms-linear-gradient(top,#f7f7f7,#fff 10px);
	background: linear-gradient(to right,#fff,rgba(250,250,250,0) 20px), linear-gradient(to left,#fff,rgba(250,250,250,0) 20px), linear-gradient(to bottom,#f7f7f7,#fff 10px);
	border-top: 1px solid #e7e7e7;
}

.box.top,.box.middle {
	margin-bottom: 0;
}

.box.top>.box-content {
	border-bottom: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box.middle>.box-content {
	border-top: 0;
	border-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.box.bottom>.box-content {
	border-top: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

.box>.top-corners,.box>.bottom-corners {
	display: none;
}

.family .box>.title-bar,.box>.title-bar {
	color: #fff;
	background-color: #224272;
	background-image: -webkit-linear-gradient(top,#5b6e8d 0,#576b8b 12%,#4c6386 24%,#39547d 35%,#35517b 37%,#2c4a77 47%,#244473 64%,#224272 100%);
	background-repeat: repeat-x;
	background-size: 1px 45px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.ns .family .box>.title-bar,.ns .box>.title-bar {
	color: #333;
	background: #fff;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.slate .box .family>.title-bar,.slate .box>.title-bar {
	color: #fff;
	background-color: #596167;
	background-repeat: repeat-x;
	background-size: 1px 70px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.box>.title-bar h2 {
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	padding: 5px 12px;
	text-shadow: 1px 1px 1px #224272;
}

.ns .box>.title-bar h2 {
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	padding: 7px 0 7px 12px;
	text-shadow: none;
}

.box>.title-bar h2 a {
	color: #fff;
}

.ns .box>.title-bar h2 a {
	color: #333;
}

.family .box>.title-bar h2 {
	margin: 0;
	color: #fff;
}

.ns .family .box>.title-bar h2 {
	margin: 0;
	color: #333;
}

.box.secondary>.title-bar {
	background-color: #afb0b2;
	background-image: -webkit-linear-gradient(top,#c2c2c4 0,#bebfc0 24%,#b9babb 37%,#b9babb 38%,#b1b2b4 57%,#afb0b2 100%);
}

.box.secondary>.title-bar h2 {
	text-shadow: 1px 1px 1px #999;
}

.box.shadow {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3), -1px -1px 5px 0 rgba(0,0,0,0.2)9;
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3), -1px -1px 5px 0 rgba(0,0,0,0.2)9;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3), -1px -1px 5px 0 rgba(0,0,0,0.2)9;
	margin-bottom: 18px;
	border: 1px solid #dedede9;
}

.box.shadow>.box-content {
	margin: 0;
	border-top: 0;
}

.box>.box-heading {
	padding: 15px 15px 10px;
	background: #ededed;
	border: 1px solid #ccc;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.ns .box>.box-heading {
	background: #fff;
	border-top: 0;
	padding: 20px 15px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.box>.box-heading h2,.box>.box-heading h1 {
	font-size: 19px;
	padding: 15px 0 0;
	font-weight: bold;
	line-height: 1.1em;
	color: #343640;
	text-shadow: 1px 1px 1px #f1f1f1;
}

.ns .box>.box-heading h2,.ns .box>.box-heading h1 {
	padding: 0;
}

.box>.box-heading h2 em,.box>.box-heading h1 em {
	font-style: normal;
	font-weight: normal;
}

.box .section-heading {
	background: url(../web/base/box/res/heading-section.png) repeat-x 0 0;
	border: 1px solid #ccc;
	border-width: 1px 0;
	clear: both;
}

.box .section-heading+.section-heading {
	border-top: 0;
}

.box .section-heading:last-child {
	border-bottom: 0;
}

.box .section-heading h2 {
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px 10px;
}

.search .box.form>.box-content {
	padding: 4px 12px 5px;
	background: #f2f2f2;
}

a:hover {
	text-decoration: underline;
}

body { font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased; }

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
a.block { display: block; cursor: pointer; }
a.block span,
a.block em { color:#08c; cursor: pointer; }
a.block:hover { text-decoration: none; }
a.block:hover span,
a.block:hover em { color: #08c; text-decoration: underline; }
a.more, em.more, span.more { white-space: nowrap; padding-right: 10px; background: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; cursor: pointer; zoom: 1; }
a.morelarge, em.morelarge, span.morelarge { white-space:nowrap; padding-right:12px; background:url(http://images.apple.com/global/elements/arrows/morearrow_big_08c.gif) no-repeat 100% 50%; cursor:pointer; zoom:1; }
a.lesslarge, em.lesslarge, span.lesslarge { white-space:nowrap; padding-left:12px; background:url(http://images.apple.com/global/elements/arrows/lessarrow_big_08c.gif) no-repeat 0 50%; cursor:pointer; zoom:1; }
@media only screen {
	a.more, em.more, span.more { background-image:url(./../elements/arrows/morearrow_08c.svg); }
	a.morelarge, em.morelarge, span.morelarge { background-image:url(./../elements/arrows/morearrow_big_08c.svg); }
	a.lesslarge, em.lesslarge, span.lesslarge { background-image:url(./../elements/arrows/lessarrow_big_08c.svg); }
}
a.external, em.external, span.external { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; cursor: pointer; zoom: 1; }
a[rel="external"] { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; cursor: pointer; zoom: 1; }
em.more, span.more, em.external, span.external { color:#08c; font-style: normal; cursor: pointer; }
.nowrap { white-space:nowrap; }
strong, b { font-weight: bold; }
em, i, cite { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; line-height:1.5; vertical-align: baseline; position: relative; bottom: 0.33em; _position: static !important; }
sup, sup a { color:#666; }
sup a:hover { color:#08c; text-decoration:none; }
sub { line-height:1; }
abbr { border: 0; }
.sosumi { font-size: 10px !important; line-height:1.5; color:#888; }
.sosumi_features { font-size: 10px !important; line-height:1.5; color:#888; }

h1,h2,h3,h4,h5,h6,strong { color:#000; }
h1,h2,h3,h4 { font-weight: bold; }
h2,h3,h4 { line-height: 18px; }
h1,h2 { margin-bottom: 18px; }
h1 { font-size: 24px; line-height: 36px; }
h2 { font-size: 16px; }
h3 { font-size: 1em; }
h4 { font-size: 10px; }
p { margin-bottom: 18px; }
p.intro { color: #888; font-size: 16px; line-height: 22px; font-weight: normal; }
.more { text-align: right; }

ul { list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle,
ul.disc { margin-left: 2em; margin-bottom: 18px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style:disc outside; }
ul ul.square,
ul ul.circle,
ul ul.disc { margin-top: 4px; margin-bottom: 5px; }
ol.sosumi { margin-left: 0; padding-left: 2em; *padding-left: 2.2em; }

a.pdf { background: url(http://images.apple.com/global/elements/icons/globaliconpdf12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.html { background: url(http://images.apple.com/global/elements/icons/globaliconhtml12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.qt { background: url(http://images.apple.com/global/elements/icons/globaliconqt12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.ical { background: url(http://images.apple.com/global/elements/icons/globaliconical12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dl { background: url(http://images.apple.com/global/elements/icons/globalicondl11x10.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dmg { background: url(http://images.apple.com/global/elements/icons/globalicondmg12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.zip { background: url(http://images.apple.com/global/elements/icons/globaliconzip12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.keynote { background: url(http://images.apple.com/global/elements/icons/globaliconkeynote12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.audio { background: url(http://images.apple.com/global/elements/icons/globaliconaudio12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }

.dot-nav { width:100%; margin:0; padding:0; text-align:center; line-height:1px; }
.dot-nav li,
.dot-nav li a { display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1; }
.dot-nav li { position:relative; z-index:1; margin:0; width:13px; height:15px; overflow:hidden; }
.dot-nav li a { position:absolute; z-index:1; width:13px; height:45px; top:0; left:0; cursor:pointer; text-indent:-1000em; background:url(http://images.apple.com/global/elements/buttons/dots_08c.png) no-repeat 0 0; behavior:url(/global/scripts/lib/ie7pngfix.htc); }
.dot-nav li a:hover { top:-15px; }
.dot-nav li a.active { cursor:default; top:-30px; }

.dot-nav:nth-child(1n) li { width:10px; height:10px; padding:0; margin:0 2px; }
.dot-nav:nth-child(1n) li a { border-radius:5px; width:10px; height:10px; background:#e0e1e3;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .25);
	   -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .25);
	        box-shadow:inset 0 1px 1px rgba(0, 0, 0, .25);
}
.dot-nav:nth-child(1n) li a:hover { top:0; background:#ccc;}
.dot-nav:nth-child(1n) li a.active { top:0; background:#08c;
	background:-webkit-gradient(linear,lefttop,leftbottom,color-stop(0%,rgb(126,198,234)),color-stop(24%,rgb(70,179,234)),color-stop(100%,rgb(3,135,201)));
	background:-webkit-linear-gradient(top,rgb(126,198,234)0%,rgb(70,179,234)45%,rgb(3,135,201)100%);
	background:   -moz-linear-gradient(top,rgb(126,198,234)0%,rgb(70,179,234)45%,rgb(3,135,201)100%);
	background:        linear-gradient(top,rgb(126,198,234)0%,rgb(70,179,234)45%,rgb(3,135,201)100%);
	-webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .25);
	   -moz-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .25);
	        box-shadow:inset 0 1px 0 rgba(0, 0, 0, .25);
}

.last { margin-bottom: 0; }
#main .sidebar { font-size: 10px; line-height: 18px; color:#333; }
#main .callout { font-size: 11px; line-height: 18px; margin-bottom: 18px; }

body.specs #main { font-size: 11px; line-height: 16px; }