@media screen and (max-width: 720px) {

	#main {
    width: 100%;
	}

	.right-sidebar #primary {
    margin: 0;
    width: 100%;
	}

	.box_category1 {
		width: 100%;
		display:block;
	}
	.box_category3 {
		padding-left: 0;
		display:block;
		width: 100%;
	}

}